header {
    padding:0;
    background: linear-gradient(180deg, #000, 50%, transparent);
    position: relative;
    z-index: 99;
 
    nav{
      .nav-brand{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 14px;
        span{
            color: #f2f2f2;
            font-size: 32px;
            cursor: pointer;
        }
        .logo_img{
           position: relative;
           width: 180px;
           height: 52px;
           img{
            object-fit: cover;
            }
         }
        }
        .menu{
            padding-right: 5px;
            ul.menu_ul{
               display: flex;
               flex-direction: column;
               position: absolute;
               right: -100%;
            //    background: #010032;
               height: 100vh;
               width: 200px;
               padding: 8px;
               top: 0px;
               transition: all 0.9s;
              gap: 15px;
              z-index: 9;
              @media screen and (min-width: 767px) {
                 position: static;
                 height: auto;
                 width: auto;
                 flex-direction: row;
              }
              li{
                span{
                    background: rgb(255 255 255 / 11%);
                    padding: 11px 40px 11px 10px;
                    min-height: 50px;
                    border-radius: 5px;
                    display: flex;
                    gap: 6px;
                    line-height: 1;
                    align-items: center;
                    color: #fff;
                    justify-content: center;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-right: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                        top: 18px;
                        right: 10px;
                        transform: rotate(45deg);

                    }
                }
                button{
                    background-color: rgb(222, 148, 1);
                    color: #222;
                    padding: 12px 20px;
                    font-size: 15px;
                    font-weight: 500;
                    border-radius: 2px;
                    border:1px solid rgb(222, 148, 1);
                    transition: all 0.6s;
                    outline: none;
                    &:hover{
                        background-color:rgb(201, 135, 3); 
                    }

                }
                &:last-child{
                    display: none;
                    @media screen and (min-width: 767px){
                        display: block;
                    }
                }
              }
              &.active{
                right: 0;
              }
            }
            ul.menu_sign{
                @media screen and (min-width: 767px){
                    display: none;
                }
                li{
                    button{
                        background-color: rgb(222, 148, 1);
                        color: #222;
                        padding: 12px 20px;
                        font-size: 15px;
                        font-weight: 500;
                        border-radius: 2px;
                        border:1px solid rgb(222, 148, 1);
                        transition: all 0.6s;
                        outline: none;
                        &:hover{
                            background-color:rgb(201, 135, 3); 
                        }
    
                    }
                }
            }
        }
    }
 &.hsticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #010032;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-box-shadow: 0 -3px 8px rgba(0, 0, 0, .75);
    box-shadow: 0 -3px 8px rgba(0, 0, 0, .75)
}
}